# Simulação Icarus Verilog
*.out
*.vcd
*.log

# Pastas de build
sim/
work/

# C Emulator Artifacts
*.o
*.exe
*.dll

# Node.js
node_modules/
npm-debug.log

# Vivado / Quartus (Se for gravar em FPGA futuro)
*.jou
*.log
*.pb
*.wdb
.Xil/
db/
incremental_db/
output_files/

# Toolchains & Binaries (Avoid commiting heavy tools)
tools/
*.hex
!firmware.hex
